<% if filter_level == "none" %>
  <span class="label label-danger"> Filthy </span>
<% elsif filter_level == "med" %>
  <span class="label label-warning"> Edgy </span>
<% elsif filter_level == "hi" %>
  <span class="label label-success"> Safe </span>
<% end %>
