<h3>A Custom Duet</h3>
<h4>Ft. <strong><%= @custom_duet["musician"] %></strong> and <strong><%= @custom_duet["author"] %></strong></h4>

<p><%= @custom_duet["book_duet"]%></p>

<p><%= link_to "Encore!", custom_duet_path, class: "btn btn-info"%></p>
