<h1>Suggested Pairing</h1>

<p><%= @suggested_pairing["book_duet"] %></p>

<p>A Book Duet by <%= @suggested_pairing["musician"] %> and <%= @suggested_pairing["author"] %></p>

<p>Read more about the <%= link_to "connection", @suggested_pairing["news_source"] %> between this musician and author.</p>
