<div class="row">
  <div class="col-md-10">
    <div class="panel panel-success">
      <div class="panel-heading">Your Mixtapes</div>
      <ul class="list-group">
        <% @mixtapes.each do |mixtape| %>
          <li class="list-group-item"><%= link_to mixtape.title, mixtape_path(mixtape) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
