<div class="well">
  <h3>About</h3>
  <p>Book Duets is an <%= link_to "API", "https://github.com/lorainekv/book-duets-api" %> and web app by Loraine Kanervisto. Before exploring web development, she made a living as a freelance writer.
  Loraine likes books and music. Since she's always looking up literature trivia and lyrics anyway, she decided to be indulgent and complete a weird art project during her capstone month at Ada Developers Academy.</p>

  <h1>
    <%= link_to "http://github.com/lorainekv" do %><i class="fa fa-github"></i><% end %>
    <%= link_to "http://twitter.com/lorainekv" do %><i class="fa fa-twitter"></i><% end %>
  </h1>

  <h3>Special Thanks:</h3>
  <p>The unstoppable glitter of unigoats</p>
  <p>Anita for logo advice and creative consulting</p>
  <p>My instructors, Kari and Jeremy</p>
</div>
