<div class="row text-center">
  <div class="col-md-4"></div>
  <div class="col-md-2">
    <h3>Register</h3>
    <%= link_to "/auth/identity/register", class: "btn btn-primary btn-lg btn-block" do %>
      <i class="fa fa-envelope"> Email</i>
    <% end %>

    <%= link_to "/auth/twitter", class: "btn btn-primary btn-lg btn-block" do %>
      <i class="fa fa-twitter"> Twitter</i>
    <% end %>
  </div>
  <div class="col-md-2">
    <h3>Log in</h3>
    <%= link_to "/auth/identity", class: "btn btn-primary btn-lg btn-block" do %>
      <i class="fa fa-envelope"> Email</i>
    <% end %>

    <%= link_to "/auth/twitter", class: "btn btn-primary btn-lg btn-block" do %>
      <i class="fa fa-twitter"> Twitter</i>
    <% end %>
  </div>
  <div class="col-md-4"></div>
</div>
